/* INFO: INPUT */
input {
    height: 34px;
    border: var(--clg1) 1px solid;
    outline: 0;
    border-radius: 6px;
    background-color: var(--clg0);

    color: var(--cdg1);

    font-size: 16px;
    font-size: 500;

    caret-color: var(--ca);

    padding-left: 6px;
    padding-right: 6px;

    transition: background-color 100ms ease-in-out, color 100ms ease-in-out;
}

input:focus, input:active {
    border: var(--clg1) 1px solid;
    outline: 0;

    color: var(--cdg2);
    background-color: white;
}

input[data-error=true] {
    border: var(--cred) 1px solid;
    outline: 0;
}



/* INFO: SELECT */
select {
    height: 34px;
    border: 1px var(--clg1) solid;
    background-color: white;
    box-shadow: 0px 1px 4px 0px #10151B1F;

    border-radius: 6px;

    cursor: pointer;

    font-size: 16px;
    color: var(--cdg2);

    padding-left: 6px;
}




/* INFO: FORM LABELS */
.form-label {
    display: flex;
    flex-direction: column;
    gap: 2px;

    font-size: 14px;
    font-weight: 500;
}

.label {
    font-size: 14px;
    font-weight: 500;
}

.label-group {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}
