/* INFO: INPUT */
input {
    height: 34px;
}

input, textarea {
    border: var(--c-lg1) 1px solid;
    outline: 0;
    border-radius: 6px;
    background-color: var(--c-lg0);

    color: var(--c-dg1);

    font-size: 16px;
    font-size: 500;

    caret-color: var(--c-a);

    padding-left: 6px;
    padding-right: 6px;

    transition: background-color 100ms ease-in-out, color 100ms ease-in-out;
}

input:focus, input:active, textarea:focus, textarea:active {
    border: var(--c-lg1) 1px solid;
    outline: 0;

    color: var(--c-dg2);
    background-color: white;
}

input[data-error=true], textarea[data-error=true] {
    border: var(--c-red) 1px solid;
    outline: 0;
}



/* INFO: SELECT */
select, input[type="date"] {
    height: 34px;
    border: 1px var(--c-lg1) solid;
    background-color: white;
    box-shadow: 0px 1px 4px 0px #10151B1F;

    border-radius: 6px;

    cursor: pointer;

    font-size: 16px;
    color: var(--c-dg2);

    padding-left: 6px;
}


/* INFO: FORM LABELS */
.form-label {
    display: flex;
    flex-direction: column;
    gap: 2px;

    font-size: 14px;
    font-weight: 500;
}


/* INFO: GENERAL LABELS */
.label {
    font-size: 14px;
    font-weight: 500;
}

.label-group {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}




/* INFO: table */
table {
    width: 1000px;

    border-spacing: 0;

    overflow-x: scroll;
}

table:not(.table-has-scroller), .table-scroller {
    border-radius: var(--v-border-radius);
    border: 1px var(--c-lg1) solid;
    background-color: white;
}

table * {
    font-size: 14px;
}

@media(max-width: 1040px) {
    table {
        width: 100%;
    }
}

@media(max-width: 550px) {
    table {
        display: block;
    }
}

th {
    color: var(--c-dg1);
    font-weight: 500;

    border-bottom: 1px var(--c-lg1) solid;

    /* TODO: add sticky header, tried but cannot think of a good method with the floating tab bar - maybe hide tab bar? do not have it always in top position? */
    /* position: sticky; */
}

td {
    white-space: nowrap;
    min-width: max-content;
    padding-bottom: 0;
    padding-top: 0;
}

td, th {
    /* = 24px gap total between columns */
    padding-left: 6px;
    padding-right: 6px;
}

.tc-empty {
    min-width: 0px;
    padding: 0 !important;
}


.tc-placeholder {
    color: var(--c-lg2);
}



/* Top */
tr:nth-of-type(2) td {
    padding-top: 8px;
    --inset-top: 8px;
}
/* Bottom */
tr:last-child td {
    padding-bottom: 8px;
    --inset-bottom: 8px;
}

td:first-child {
    padding-left: calc(6px + 8.75px);
    --inset-left: 8.75px;
    --br-left: var(--v-border-radius-small);
}

td:last-child {
    padding-right: calc(6px + 8.75px);
    --inset-right: 8.75px;
    --br-right: var(--v-border-radius-small);
}

td {
    clip-path: inset(
        var(--inset-top, 0) var(--inset-right, 0) var(--inset-bottom, 0)
            var(--inset-left, 0) round var(--br-left, 0) var(--br-right, 0)
            var(--br-right, 0) var(--br-left, 0)
    );
}

th:first-child {
    padding-left: calc(6px + 8.75px);
}

th:last-child {
    padding-right: calc(6px + 8.75px);
}

tr:nth-of-type(even) td {
    background-color: var(--c-lgh-whitebg);
}

@keyframes shine-lines {
    0% {
        background-position: -400px;
    }

    70%,
    100% {
        background-position: 1200px;
    }
}
tr.loading:nth-of-type(even) td {
    background-color: var(--c-lgh-whitebg);
    background-image: linear-gradient(
        90deg,
        var(--c-lgh-whitebg) 0px,
        var(--c-lg0) 80px,
        var(--c-lgh-whitebg) 160px
    );
    background-size: 1200px;
    background-repeat: no-repeat;
    animation: shine-lines 2.5s infinite linear;
}

.shimmering {
    background-color: var(--c-lgh-whitebg);
    background-image: linear-gradient(
        90deg,
        var(--c-lgh-whitebg) 0px,
        var(--c-lg0) 80px,
        var(--c-lgh-whitebg) 160px
    );
    background-size: 1200px;
    background-repeat: no-repeat;
    animation: shine-lines 2.5s infinite linear;
    border-radius: 4px;
}

td, th {
    line-height: 30px;
}

/* INFO: FILTER BAR */
.filter-bar {
    display: flex;
    flex-direction: row;

    column-gap: 32px;
}



/* INFO: BUTTON AND ANCHOR OVERRIDES */
button {
    padding: 0;
    margin: 0;
    background: none;
    border: none
}

a {
    text-decoration: none;
}


/* INFO: LINKS */
.regular-link {
    color: var(--c-a);

    transition: color var(--v-animation-delay) ease-in-out;
}

.regular-link:hover {
    color: var(--c-da1);
}
