@font-face {
	font-family: 'IBMPlexSans';
	font-weight: 400;
	font-variation-settings: "wght" 400;
	src: local("IBM Plex Sans Var Regular"), local("IBMPlexSansVar-Regular"), url("/fonts/IBMPlexSans.woff2") format("woff2");
	font-display: swap;
}
@font-face {
	font-family: 'IBMPlexSans';
	font-weight: 500;
	font-variation-settings: "wght" 500;
	src: local("IBM Plex Sans Var Regular"), local("IBMPlexSansVar-Regular"), url("/fonts/IBMPlexSans.woff2") format("woff2");
	font-display: swap;
}
@font-face {
	font-family: 'IBMPlexSans';
	font-weight: 600;
	font-variation-settings: "wght" 600;
	src: local("IBM Plex Sans Var Regular"), local("IBMPlexSansVar-Regular"), url("/fonts/IBMPlexSans.woff2") format("woff2");
	font-display: swap;
}

/* TW CEN MT */
@font-face {
	font-family: "TwCenMt";
	src: local("Tw Cen MT"), url("/fonts/TwCenMTStd-SemiMedium.woff2") format("woff2");
	font-display: swap;
}
