* {
    box-sizing: border-box;
}

:root {
    font-family: "IBMPlexSans";


    /* INFO: COLOURS */
    --clg0: #FAFBFC;

    --clg1: #D1D3D6;
    --clg2: #AFB1B4;
    --cg: #75787B;
    --cdg1: #4A4F53;
    --cdg2: #292E33;
    --cdg3: #10151B;

    --cw: #F7FAFC;
    --cla1: #D4E7FA;
    --cla2: #AAD0F6;
    --cla3: #7FB9F2;

    --ca: #0073E6;

    --cda1: #004C99;
    --cda2: #003366;
    --cda3: #001F3F;
    --cb: #000C19;

    --cred: #F27F7F;


    color: var(--cdg2);
    background-color: var(--clg0);



    /* INFO: CONSTANTS */
    --srad: 6px;
    --srad-l: 4px;
}

body {
    min-height: 100dvh;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    padding: 0
}

::selection {
    color: var(--ca);
    background: var(--cla1);
}




/* fonts */
.fsize-title1 {
    font-size: 32px;
}

.fsize-title2 {
    font-size: 20px;
}

.fsize-body {
    font-size: 16px;
}

.fsize-subhead {
    font-size: 14px;
}

.fsize-footnote {
    font-size: 12px;
}


/* set fonts */
.fstyle-heading {
    font-size: 32px;
    font-family: "TwCenMt";

    font-weight: 600;
}

.fstyle-subheading {
    font-size: 16px;
    color: var(--cdg1);
}


h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
    font-weight: 400;
}




/* INFO: md icons */
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 20
}
