:root {
    --clg0: #FAFBFC;

    --clg1: #D1D3D6;
    --clg2: #AFB1B4;
    --cg: #75787B;
    --cdg1: #4A4F53;
    --cdg2: #292E33;
    --cdg3: #10151B;

    --cw: #F7FAFC;
    --cla1: #D4E7FA;
    --cla2: #AAD0F6;
    --cla3: #7FB9F2;

    --ca: #0073E6;

    --cda1: #004C99;
    --cda2: #003366;
    --cda3: #001F3F;
    --cb: #000C19;

    --cred: #F27F7F;


    font-family: "IBMPlexSans";
    color: var(--cdg2);

    background-color: var(--clg0);
}

body {
    min-height: 100dvh;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    padding: 0
}

::selection {
    color: var(--ca);
    background: var(--cla1);
}




/* fonts */
.fsize-title1 {

}

.fsize-title2 {
    font-size: 20px;
}

.fsize-body {
    font-size: 16px;
}

.fsize-subhead {
    font-size: 14px;
}

.fsize-footnote {
    font-size: 12px;
}
